{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Ingles para todos</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt voluptates maiores veniam, nobis obcaecati quidem consequatur unde illum autem voluptatum explicabo aspernatur, esse maxime, quasi aut. Dolorum excepturi blanditiis dignissimos?
        </p>
    </div>
    <div class="col-8">
        <img src="assets/img/ingles-junio19.jpeg" class="img-thumbnail">
    </div>
</div>

{{> footer }}
